.index-img-court-one{
    background-image: url(/src/backgrounds/index-canchas.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.text-background-one{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, 
    rgba(0,0,0,0.8914916308320203) 0%, 
    rgba(255,255,255,0.6898109585631127) 100%);
    background-size: contain;
    height: 100%;
    width: 100%;
    color: aliceblue;
    padding: 15ex;
    text-align: center;
    text-shadow: 0px 3px 5px rgba(0,0,0,0.49);
}

.button-index {
    border-radius: 50px;
    width: 18.5ex;
    height: 5.5ex;
}

.index-banner-one{
    background-image: url(/src/backgrounds/banner-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.text-background-two{
    background: rgb(235,235,235);
    background: linear-gradient(90deg, 
    rgba(235,235,235,0.7430322470785189) 0%, 
    rgba(235,235,235,1) 49%, 
    rgba(236,236,236,0.785049053801208) 100%);    
    padding: 5.5ex;
    -webkit-box-shadow: inset 0px 9px 7px -3px rgba(0,0,0,0.38); 
    box-shadow: inset 0px 9px 7px -3px rgba(0,0,0,0.38);
}

.index-banner-two{
    background-image: url(/src/backgrounds/class-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-background-three{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, 
    rgba(255,255,255,0.9475140397956058) 0%, 
    rgba(255,255,255,0.07636558041185226) 100%);
    padding: 12.5ex;
    text-align: left;
    text-shadow: 3px 0px 11px #FFFFFF;
    -webkit-box-shadow: inset 0px 0px 12px 1px rgba(0,0,0,0.75); 
    box-shadow: inset 0px 0px 12px 1px rgba(0,0,0,0.75);
}

.index-banner-three{
    background-image: url(/src/backgrounds/raquetas-fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-background-four{
    background: rgb(175,175,175);
    background: linear-gradient(0deg, 
    rgba(175,175,175,0.7794468129048494) 0%, 
    rgba(0,0,0,0.8578781854538691) 100%);
    padding: 08.5ex;
    text-align: center;
    color: aliceblue;
}

.text-background-five{
    background: rgb(236,236,236);
    background: linear-gradient(180deg, 
    rgba(236,236,236,0.8326681014202556) 0%, 
    rgba(236,236,236,0.8522759445575105) 100%);
    width: 100%;
    padding: 4.3em;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0px 0px 7px 1px rgba(0,0,0,0.84); 
    box-shadow: inset 0px 0px 7px 1px rgba(0,0,0,0.84);
}

.index-banner-four{
    background-image: url(/src/backgrounds/balls-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.button-phone{
    width: 18.5ex;
}

@media only screen 
  and (max-device-width: 736px) { 

    .text-background-one, .text-background-two, .text-background-three, .text-background-four, .text-background-five{
        padding: 2.5ex;
    }

    h5, li{
        font-size: smaller;
    }

    p, h6{
        font-size: small;
    }

    .button-phone{
        width: 12.3ex;
    }

}